$header-background: white;
$main-background: #1C1C1C;
$bottom-footer-background: #222222;
$color-text-navbar: #535c64;
$color-text-navbar-hover: #46ADFB;
$color-footer-title-list : white;
$color-footer-list-item: #838585;
$color-border-button: #0282F9;
$color-social-title: #0282F9;